<div class="d-grid gap-5 d-md-flex justify-content-md-center" id="header">
  <h4 class="text-center">EDITORIALES</h4>
  <button class="btn btn-success btn-sm" (click)="openEditorialDialog()">Nueva Editorial</button>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody *ngFor="let editorial of editorials">
      <tr>
        <th scope="row">{{editorial.ideditorial}}</th>
        <td scope="row">{{editorial.name}}</td>
        <td class="d-grid gap-5 d-md-flex justify-content-md-end">
          <button class="btn btn-warning" routerLink="/editar/{{editorial.ideditorial}}"
            (click)="openEditorialDialog(editorial)">Editar</button>
        <button class="btn btn-danger" (click)="onDelete(editorial.ideditorial)">Borrar</button>
      </td>
      </tr>
    </tbody>
    <tbody *ngIf="!server">
      <tr>
        <th scope="row">0</th>
        <td>000</td>
        <td>Nombre de la editorial</td>
      </tr>
    </tbody>
  </table>
  </div>