<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Biblioteca NCM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user">Soci&#64;s 
          <span class="badge text-bg-primary rounded-pill">{{ countUsers }}</span>
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="book">Libros
            <span class="badge text-bg-primary rounded-pill">{{ countBooks }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="author">Autores
            <span class="badge text-bg-primary rounded-pill">{{ countAuthors }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="genre">Categorías
          <span class="badge text-bg-primary rounded-pill">{{ countCategories }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="editorial">Editoriales
          <span class="badge text-bg-primary rounded-pill">{{ countEditorials }}</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuari&#64;
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Emplead&#64;s</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Log in</a></li>
            <li><a class="dropdown-item" href="#">Log out</a></li>
          </ul>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="">Acerca de</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>