HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Visual Studio Code
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.editorconfig

#Backend
/Backend/src/main/resources/application.properties

#Frontend
Frontend/.angular
# Node
Frontend/node_modules
npm-debug.log
yarn-error.log
