<div class="d-grid gap-5 d-md-flex justify-content-md-center" id="header">
  <h4 class="text-center">CATEGORIAS</h4>
  <button class="btn btn-success btn-sm" (click)="openCategoryDialog()">Nueva Categoria</button>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody *ngFor="let genre of genres">
      <tr>
        <th scope="row">{{genre.idgenre}}</th>
        <td scope="row">{{genre.name}}</td>
        <td class="d-grid gap-5 d-md-flex justify-content-md-end">
          <button class="btn btn-warning" routerLink="/editar/{{genre.idgenre}}"
            (click)="openCategoryDialog(genre)">Editar</button>
          <button class="btn btn-danger" (click)="onDelete(genre.idgenre)">Borrar</button>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="!server">
      <tr>
        <th scope="row">0</th>
        <td>000</td>
        <td>Nombre de la categoría</td>
      </tr>
    </tbody>
  </table>
</div>