<div class="login">
  <h1 class="modal-title fs-5" id="loginModalLabel">Datos de acceso</h1>
  <form>
    <div class="form-outline" data-mdb-input-init>
      <input type="email" id="typeEmail" class="form-control" />
      <label class="form-label" for="typeEmail">Email input</label>
    </div>
    <div class="form-outline" data-mdb-input-init>
      <input type="password" id="typePassword" class="form-control" />
      <label class="form-label" for="typePassword">Password input</label>
    </div>
  </form>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-secondary left" routerLink="/register">Crear cuenta</button>
    <button type="button" class="btn btn-dark">Entrar</button>
  </div>