<div class="d-grid gap-5 d-md-flex justify-content-md-center" id="header">
  <h4 class="text-center">SOCI&#64;S</h4>
  <button class="btn btn-success btn-sm" (click)="openUserDialog()">Nueva Soci&#64;</button>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Soci&#64;</th>
        <th scope="col">Nombre</th>
        <th scope="col">ApellidoS</th>
        <th scope="col">Email</th>
        <th scope="col">Móvil</th>
        <!-- <th scope="col">Dirección</th>
        <th scope="col">CP</th>
        <th scope="col">Población</th>
        <th scope="col">Ciudad</th> -->
      </tr>
    </thead>
    <tbody *ngFor="let user of people">
      <tr>
        <th scope="row">{{user.member}}</th>
        <!-- <td>{{user.iduser}}</td> -->
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.mobile}}</td>
        <!-- <td>{{user.address}}, {{user.num}} {{user.floor}}</td>
        <td>{{user.cp}}</td>
        <td>{{user.town}}</td>
        <td>{{user.city}}</td> -->
        <td class="d-grid gap-5 d-md-flex justify-content-md-end"><button class="btn btn-primary"
            routerLink="/detalle/{{user.iduser}}" (click)="viewUserDetails(user)">Ver</button>
          <button class="btn btn-warning" routerLink="/editar/{{user.iduser}}"
            (click)="openUserDialog(user)">Editar</button>
          <button class="btn btn-danger" (click)="onDelete(user.iduser)">Borrar</button>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="!server">
      <tr>
        <th scope="row">0</th>
        <td>000</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>jacog&#64;email.com</td>
        <td>111-111-111</td>
        <td>Calle Biblioteca, 25</td>
        <td>29000</td>
        <td>Campanillas</td>
        <td>Málaga</td>
      </tr>
    </tbody>
  </table>
</div>